.cl {
  overflow: scroll;
  // border: 5px solid darkmagenta;
  // height: 80%;
  height: calc(100% - 80px);
  // border: 1px solid red;
  &-content {
    em {
      color: blue;
      font-style: normal;
    }
  }
}