
.home {
  &-task {
    height: 100%;
    display: flex;
    flex-direction: column;

    &-form {
      flex-basis: 300px;
      margin-bottom: 10px;
      background-color: #fff;
      padding: 20px;
    }

    &-comment {
      padding: 20px;
      background-color: #fff;
      flex: 1;
      flex-grow: 1;
    }
  }
}